<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Add page</title>
</h:head>
<h:body>
	<ui:composition>
		<h:form id="adFLightForm">
			<p:growl id="growl" showDetail="true" sticky="true" /> 
			<h:panelGrid columns="2" columnClasses="topAligned">
				<p:outputLabel for="number" value="Flight number:" />
				<p:inputText id="number" value="#{flightBean.newFlight.flightnr}"> 
					<f:validateRequired />	
				</p:inputText>

				<p:outputLabel for="departureDate" value="Departure date:" />
				<p:calendar id="departureDate" value="#{flightBean.flightTime.departureDate}" 
					pattern="MM/dd/yyyy">
				</p:calendar>
				
				<p:outputLabel for="departureTime" value="Departure time" />
				<p:calendar id="departureTime" pattern="hh:mm a" timeOnly="true"
					widgetVar="departTime"  value="#{flightBean.flightTime.departureTime}" >
				</p:calendar>


				<p:outputLabel for="AirrivalDate" value="Arrival date:" />
				<p:calendar id="AirrivalDate" value="#{flightBean.flightTime.arrivalDate}" 
					pattern="MM/dd/yyyy">
				</p:calendar>
				
				<p:outputLabel for="arrivalTime" value="Arrival time" />
				<p:calendar id="arrivalTime" pattern="hh:mm a" timeOnly="true"
					widgetVar="departTime" value="#{flightBean.flightTime.arrivalTime}" >
				</p:calendar>
				
				<p:outputLabel for="originAirport" value="Original Airport" />
				<p:selectOneMenu id="originAirport"
					value="#{flightBean.newFlight.origin.id}" filter="true" 
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select one" itemValue="#{null}"></f:selectItem>
					<c:forEach  var="airport" items="#{flightBean.airports}">
						<f:selectItem itemLabel="#{airport.name} - #{airport.airportcode}" itemValue="#{airport.id}"></f:selectItem>
					</c:forEach >
					<f:validateRequired />	
				</p:selectOneMenu>
				
				<p:outputLabel for="desAirport" value="Destination Airport" />
				<p:selectOneMenu id="desAirport"
					value="#{flightBean.newFlight.destination.id}" filter="true" 
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select one" itemValue="#{null}"></f:selectItem>
					<c:forEach  var="airport" items="#{flightBean.airports}">
						<f:selectItem itemLabel="#{airport.name} - #{airport.airportcode}" itemValue="#{airport.id}"></f:selectItem>
					</c:forEach >
					<f:validateRequired />	
				</p:selectOneMenu>
				
				<p:outputLabel for="airPlane" value="Airplane" />
				<p:selectOneMenu id="airPlane"
					value="#{flightBean.newFlight.airplane.id}" filter="true" 
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select one" itemValue="#{null}"></f:selectItem>
					<c:forEach  var="airplane" items="#{airplaneBean.planes}">
						<f:selectItem itemLabel="#{airplane.serialnr} - #{airplane.model} - Cap: #{airplane.capacity}" itemValue="#{airplane.id}"></f:selectItem>
					</c:forEach >
					<f:validateRequired />	
				</p:selectOneMenu>
			</h:panelGrid>
			<p:commandButton onclick="addFlight(); gotoViewFlight();" value="Add Flight" update=":main-container" process="@form"/>
			<p:remoteCommand name="addFlight"  actionListener="#{flightBean.addFlight}"></p:remoteCommand>
			<p:remoteCommand name="gotoViewFlight"  actionListener="#{customTemplateController.toViewFlight}"></p:remoteCommand>
		</h:form>
	</ui:composition>
</h:body>
</html>