<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Add page</title>
</h:head>
<h:body>
	<ui:composition>
		<h:form id="adFLightForm">
			<h:panelGrid columns="2" columnClasses="topAligned">
				<p:outputLabel for="name" value="Airline name:" />
				<p:inputText id="name" value="#{airlineBean.newAirline.name}" />

				<p:outputLabel for="flight-select" value="Flights:" />
				<p:selectManyMenu id="flight-select"
					value="#{airlineBean.selectedFlights}" filter="true"
					filterMatchMode="contains" showCheckbox="true">
					<c:forEach  var="fl" items="#{airlineBean.avaiableFights}">
						<f:selectItem itemLabel="#{fl.flightnr} : #{fl.origin.airportcode} to #{fl.destination.airportcode} #{fl.departureDate} #{fl.departureTime}" 
						itemValue="#{fl.id}"></f:selectItem>
					</c:forEach >
				</p:selectManyMenu>
			</h:panelGrid>
			<p:commandButton actionListener="#{airlineBean.addAirline}"
				update=":main-container" process="@form" value="Add Airline" />
		</h:form>
	</ui:composition>
</h:body>
</html>